<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222568772308-ng9b6bbmeelisab1covjgac8htpfr7g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222568772308-ng9b6bbmeelisab1covjgac8htpfr7g6</string>
	<key>API_KEY</key>
	<string>AIzaSyA7fPA7cNA2_g0ayUC6pBkKkRzAh8lQ_js</string>
	<key>GCM_SENDER_ID</key>
	<string>222568772308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-399ed</string>
	<key>STORAGE_BUCKET</key>
	<string>login-399ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222568772308:ios:da627858d48b93cbd04141</string>
</dict>
</plist>